#board {
    margin-left: 100px;
    margin-top: 5vmin;
    position: relative;
}

.playerName {
    margin-left: 100px;
    border-bottom: 1px solid black;
    width: 80vmin;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.4em;
}

.board_row {
    display: block;
}

.square {
    width: 10vmin;
    height: 10vmin;
    display: inline-block;
}

.piece img {
    position: absolute;
    width: 10vmin;
    height: 10vmin;
}

.square_overlay {
    position: absolute;
    width: 10vmin;
    height: 10vmin;
    background-color: rgba(255,255, 0, 0.5);
    display: none;
}

.square_black {
    background-color: darkgreen;
}

.square_white {
    background-color: white;
}