<html>
<head>
    <link rel="stylesheet" href="./css/index.css">
    
</head>
<body>
    <div id="board">
        {{{ board }}}
    </div>
    <dialog id="promotion">
    <form method="dialog">
        <button id="promotionQueen">Simple queen</button>
        <button id="promotionRook">Well rook is enough</button>
        <button id="promotionBishop">Or let's take a bishop here</button>
        <button id="promotionKnight">Something fancy: The Knight!</button>

        <button id="promotionCancel">Cancel</button>
        </menu>
    </form>
    </dialog>

    <script src="js/index.js"></script>
</body>
</html>